.title-navigation-container {
    display: flex;
    flex-direction: column;

    .title-navigation-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        .navigation-buttons-title {
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .navigation-buttons {
            display: flex;
            gap: 10px;

            .navigation-buttons-icon {
                cursor: pointer;

                &:hover {
                    color: #1677ff;
                    fill: #1677ff;
                }
            }
        }
    }
}