.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin: 24px 90px 0 90px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #dcdcdc;

    .footer-form {
        margin-top: 16px;
    }
}