.category-container {
    .category-menu {
        background: #f8f8f8;
        width: 100%;
        border-left: 1px solid rgba(5, 5, 5, 0.06);
        border-top: 1px solid rgba(5, 5, 5, 0.06);
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
        border-radius: 8px;
    }
}